* {
  margin: 0;
  padding: 0;
}

body {
  color: black;
}

.principal {
  align-items: left;
  background-color: black;
  display: flex;
  flex-direction: column;
}

input, textarea, .app-checkbox {
  border: none;
  border-bottom: 1px solid black;
  text-align: center;
  width: 65%;
}

select {
  border: none;
  text-align: center;
  width: 65%;
}

.cadastra-chaves {
  border-bottom: 1px solid black;
  display: flex;
  flex-direction: row;
}

.form-card {
  align-items: left;
  background-color: #263d49;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
}

.exib-card {
  align-items: left;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
}

.form-conteiner-Component {
  background-color: white;
  border: 1px solid black;
  border-radius: 7px;
  color: black;
  display: flex;
  flex-direction: column;
  margin: 20px;
  padding: 20px 30px;
  width: 60%;
}

.card-conteiner-Component {
  background-color: #263d49;
  border: 10px solid white;
  border-radius: 7px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 20px;
  margin-left: 15px;
  text-align: center;
  width: 60%;
}

.form {
  display: flex;
  flex-direction: column;
}

.form label div, .div-select-form {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: left;
  padding: 5px 10px;
}

h1 {
  color: black;
  padding-bottom: 10px;
  text-align: left;
  width: 100%;
}

h5 {
  width: 40%;
}

.checked-form {
  width: 100%;
}

.checked-form h5 {
  padding: 0 10px;
  width: 100%;
}

.btn-save-data-disabled {
  background-color: #d1d1d6;
  border: 1px solid white;
  color: black;
  font-size: 20px;
  padding: 5px 0;
  text-align: center;
  width: 100%;
}

.btn-save-data {
  background-color: #365869;
  border: 1px solid black;
  color: white;
  font-size: 20px;
  padding: 5px 0;
  text-align: center;
  width: 100%;
}

.btn-save-data:hover {
  background-color: #263d49;
  border: 1px solid black;
  color: white;
}

.div-pai-div-Card {
  display: flex;
  flex-direction: column;
  padding-bottom: 10px;
}

.attr {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 90%;
}

.div-Card {
  padding: 10px 20px;
  text-align: center;
  width: 100%;
}

.div-Card strong, .div-Card h4 strong, .div-Card span {
  color: white;
}

.card-name {
  margin-top: 10px;
  text-align: left;
}

.cadaAttr {
  border: 2px solid white;
  border-radius: 3px;
  display: flex;
  flex-direction: row;
  margin-bottom: 5px;
  padding: 0;
}

.attr-title {
  background-color: #263d49;
  padding: 5px 10px;
  text-align: left;
  width: 90%;
}

.attr-descrip {
  background-color: white;
  color: black;
  padding: 5px 0;
  text-align: center;
  width: 10%;
}

h4 {
  color: black;
}

.descrip {
  color: black;
  margin: 10px auto;
  text-align: left;
}

.img-card {
  margin-top: 1px;
  width: 90%;
}

.div-exibicao {
  align-items: center;
  background-color: white;
  color: black;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 20px;
  width: 100%;
}

.app-checkbox {
  align-items: center;
  display: flex;
}

.div-exibicao input, .div-exibicao select, .div-exibicao .app-checkbox {
  margin: 10px;
  width: 20%;
}

.app-checkbox span {
  width: 200px;
}

.div-cards {
  align-items: center;
  background-color: #263d49;
  border: 10px solid white;
  border-radius: 7px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 20px;
  margin-left: 15px;
  text-align: center;
  width: 30%;
}

.btn-delete {
  background-color: white;
  color: black;
  margin: 10px 0;
  width: 90%;
}

.btn-delete:hover {
  background-color: #152229;
  color: white;
  margin: 10px 0;
  width: 90%;
}

.info-Name {
  color: black;
  margin: 10px 0;
  width: 90%;
}

.todas-as-cartas {
  display: flex;
  flex-direction: row;
}
